*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
/*NAVBAR STYLES*/

.nav-main{
  display: flex;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 15px;
 border-bottom: 2px solid rgba(65, 37, 103, 1);
}
.nav-text{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-main p{
font-size: 16px;
font-weight: 500;
color: white;
}
.hamburger{
  display: none;
}
  

.btn-1{
color: white;
font-size: 16px;
font-weight: 600;
justify-content: center;

}
.gradient-btn{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;

}
.gradient-text{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*AFTER HEADER STYLES*/
.hero-bg img{
  width: 100%;
  height: 569px;
}



/*TEXT-SECTION STYLES*/
.text-section{
  background-color: #1A0B2E;
  margin-top: -5px;
 text-align: center;

}
.text-section-2 h2{
font-size:48px ;
font-weight:bold ;
color: white;
padding-top: 120px;
padding-bottom: 20px;
}
.text-section-2{
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}
#border{
padding-top: 80px;

}
.text-section-2 h3{
  font-size: 48px;
  font-weight:bold ;
  color: #00FF88;
}
.text-section-3{
  display: flex;
 justify-content: center;
 gap: 80px;
 padding-top: 80px;
 padding-bottom: 120px;
}
.text-section-3 p{
  font-size: 16px;
  font-weight: 400;
  color: white;
 align-items: center;
}

/*FEATURED EPISODES STYLES*/
.featured-episode-section h1{
font-size: 48px;
font-weight: bold;
background-color: #1A0B2E;
color: white;
text-align: center;
padding-top: 120px;
}
.featured-episode{
  background-color: #1A0B2E;
  display: flex;
  gap: 30px;
  padding-bottom: 120px;
  padding-top: 50px;
  justify-content: center;
}
.card-section{
  background-color: #250D44;
  width: 305px;
  height: 550px;
  border: 2px solid #250D44;
  border-radius: 30px;
  align-items: center;

}

.yt-video iframe{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  
}
.card-section h2{
font-size:24px ;
font-weight: bold;
color: white;
padding-left: 20px;
padding-top: 20px;

}

.card-section p{
font-size:16px ;
font-weight: 400;
color: white;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;
}
.card-section-diff{
  display: flex;
  gap: 8px;
  padding-left: 20px;
  padding-top: 20px;
}

/*HOST SECTION STYLES*/
.main-host-section{
  background-color: #1A0B2E;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 160px;
  padding-right: 160px;
}
.main-host-section h1{
font-size: 48px;
font-weight: bold;
color: white;
padding-bottom: 40px;
text-align: center;
}
.host-section{
  background-color:rgb(53, 17, 101);
  display: flex;
  gap: 24px;
border-radius: 40px;  
padding: 40px;
align-items: center;

}
.host-section h2{
  font-size: 32px;
  font-weight:bold ;
  color: white;
  padding-bottom: 16px;
}

.host-section p{
color: white;
font-size: 16px;
font-weight: 400;
padding-bottom: 16px;
}
.host-section-socials {
align-items: center;
}
#images{
gap: 50px;
padding: 6px;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 60%;

}




/*FOOTER STYLES*/
.footer-section{
  background-image: url(/assets/footer-bg.png);
 text-align: center;
 padding-top: 120px;
 padding-bottom: 120px;
 width: 100%;
 height: 400px;
}

.footer-section h1{
  font-size:50px ;
  color: white;
  padding-bottom: 30px;
}
.gradient-text{
 background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socials{
  display: flex;
  justify-content: center;
  color: white;
  gap: 25px;
  font-size: 16px;
  font-weight:500 ;
  padding-bottom: 30px;
}


/*MEDIA STYLES*/
@media screen and (max-width:576px) {
  .nav-text, .btn-1{
    display: none;
  }
  .hamburger{
   display: inline;
  
  }
  .nav-main{
  display: grid;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 10px;
}
.socials{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
}
.text-section-2{
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
#border{
padding-top: 10px;
}
.text-section-3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.featured-episode{
  display: grid;
}
.host-section{
  flex-direction: column;
  text-align: center;
  width: 400px;
  height: 600px;
  justify-content: center;
  
}
.main-host-section{
 
  padding-bottom: 120px;
  padding-left: 100px;
  padding-right: 100px;
}
}