*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  max-width: 1351px;
  
}
/*NAVBAR STYLES*/

.nav-main{
  display: flex;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 15px;
 border-bottom: 2px solid rgba(65, 37, 103, 1);
 max-width:1352px ;
}
.nav-text{
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-main h1{
  font-size: 48px;
}

.nav-main p{
font-size: 16px;
font-weight: 500;
color: white;
}
.hamburger{
  display: none;
}
  

.btn-1{
color: white;
font-size: 16px;
font-weight: 600;
justify-content: center;
transition: all 0.2s ease;

}
.gradient-btn{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  
}
.btn-1:hover{
transform: translateY(-2px);
}
.gradient-text{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*AFTER HEADER STYLES*/
.hero-bg img{
 position: relative;

}
.bg-img{
  width: 100%;
  margin-bottom: -70px;
}
.image-circle{
position: absolute;
top: -550px;
left: 525px;
border: 2px solid rgb(59, 59, 59);
border-radius: 100%;
width: 300px;
}
.image-mic{
  position: absolute;
  top: -620px;
  left: 310px;
}
.badge{
  background-color: #00FF88;
  color: black;
  padding: 8px;
  border-radius: 70px;
  bottom: 450px;
  right: 520px;
  position: absolute;

}
.hero-bg-texts h2{
 position:relative;
 z-index: 3;
 text-align: center;
 top: -500px;
 font-size: 48px;
 font-weight: bold;
 color: white;
 padding-bottom: 8px;
 

}
.hero-bg-texts p{
position:relative;
 z-index: 3;
 text-align: center;
 top: -500px;
 font-size: 16px;
 opacity: 0.8;
 color: white;
 padding-bottom: 8px;
}
.gradient-btn-2{
  position:relative;
 z-index: 3;
 text-align: center;
 top: -500px;
 font-size: 16px;
 left: 550px;
  border-radius: 40px;
  padding: 10px;
  border: none;
}
.gradient-btn-2{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;

}
.gradient-text-2{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.hero-btn-2{
position:relative;
 z-index: 3;
 text-align: center;
 top: -500px;
 font-size: 16px;
  left: 550px;
  border-radius: 40px;
  padding: 10px;
  border: none;
  background: transparent;
  color: #00FF88;
  border: 1px solid #00FF88;
   cursor: pointer;
  

}





/*TEXT-SECTION STYLES*/
.text-section{
  background-color: #1A0B2E;
  margin-top: -5px;
 text-align: center;
 margin-top: -380px;
 margin-right: -500px;

}
.text-section-2 h2{
font-size:48px ;
font-weight:bold ;
color: white;
padding-top: 120px;
padding-bottom: 20px;
}
.text-section-2{
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}
#border{
padding-top: 80px;

}
.text-section-2 h3{
  font-size: 48px;
  font-weight:bold ;
  color: #00FF88;
}
.text-section-3{
  display: flex;
 justify-content: center;
 gap: 80px;
 padding-top: 80px;
 padding-bottom: 120px;
}
.text-section-3 p{
  font-size: 16px;
  font-weight: 400;
  color: white;
 align-items: center;
}

/*TECHWAVE STYLES*/
.main-techwave-section{
  background-color: #230E3D;
  padding: 20px;
  color: white;
  padding: 200px 120px 200px 120px;

}
.main-techwave-section h1{
  font-size:48px ;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 200px);
  gap: 20px;
  
}
.premium-card{
  background-color: rgba(53, 17, 101, 0.4);
 grid-column: span 1;
 grid-row: span 2;
 border-radius: 40px;
 padding: 40px;

}
.premium-card h2{
margin-bottom: 10px;
font-size: 18px;
}
.premium-card p{
font-size: 14px;
opacity: 0.85;

}

.mobile-card{
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 40px;
  padding: 30px;
  padding-top: 10px;
}

.mobile-card h2{
margin-bottom: 10px;
font-size: 18px;
}
.mobile-card p{
font-size: 14px;
opacity: 0.85;

}

.global-card{
background-color: rgba(53, 17, 101, 0.4);
grid-column: span 2;
grid-row: span 1;
border-radius: 40px;
padding: 30px;
}
.global-card h2{
margin-bottom: 10px;
font-size: 18px;
}
.global-card p{
font-size: 14px;
opacity: 0.85;

}

.exclusive-card{
background-color: rgba(53, 17, 101, 0.4);
grid-column: span 2;
grid-row: span 1;
border-radius: 40px;
padding: 30px;
}
.exclusive-card h2{
margin-bottom: 10px;
font-size: 18px;
}
.exclusive-card p{
font-size: 14px;
opacity: 0.85;

}
.rich-card{
background-color: rgba(53, 17, 101, 0.4);
grid-column: span 1;
border-radius: 40px;
padding: 30px;
}
.rich-card h2{
margin-bottom: 10px;
font-size: 18px;
}
.rich-card p{
font-size: 14px;
opacity: 0.85;

}



/*FEATURED EPISODES STYLES*/
.featured-episode-section h1{
font-size: 48px;
font-weight: bold;
background-color: #1A0B2E;
color: white;
text-align: center;
padding-top: 120px;
}
.featured-episode{
  background-color: #1A0B2E;
  display: flex;
  gap: 30px;
  padding-bottom: 120px;
  padding-top: 50px;
  justify-content: center;
}
.card-section{
  background-color: #250D44;
  width: 305px;
  height: 550px;
  border: 2px solid #250D44;
  border-radius: 30px;
  align-items: center;

}

.yt-video iframe{
  width: 300px;
  height: 300px;
  border-radius: 15px;
  
}
.card-section h2{
font-size:24px ;
font-weight: bold;
color: white;
padding-left: 20px;
padding-top: 20px;

}

.card-section p{
font-size:16px ;
font-weight: 400;
color: white;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;
}
.card-section-diff{
  display: flex;
  gap: 8px;
  padding-left: 20px;
  padding-top: 20px;
}


/*HOST SECTION STYLES*/
.main-host-section{
  background-color: #1A0B2E;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 160px;
  padding-right: 160px;
}
.main-host-section h1{
font-size: 48px;
font-weight: bold;
color: white;
padding-bottom: 40px;
text-align: center;
}
.host-section{
  background-color:rgb(53, 17, 101);
  display: flex;
  gap: 24px;
  border-radius: 40px;  
  padding: 40px;
  align-items: center;

}
.host-section h2{
  font-size: 32px;
  font-weight:bold ;
  color: white;
  padding-bottom: 16px;
}

.host-section p{
color: white;
font-size: 16px;
font-weight: 400;
padding-bottom: 16px;
}
.host-section-socials {
align-items: center;
display: flex;

}
#images{
gap: 50px;
padding: 6px;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 60%;
}




/*FOOTER STYLES*/
.footer-section{
background-image: url(../assets/footer-bg.png);
position: relative;
width: 1600px;
height: 412px;
text-align: center;
max-width: 1351px;
}
.footer-section h2{
font-size: 48px;
font-weight: bold;
color: white;
padding-top: 120px;
padding-bottom: 32px;
}

.footer-section-socials{
color: white;
display: flex;
gap: 30px;
justify-content: center;
padding-bottom: 32px;
}


/*MEDIA STYLES*/
@media screen and (max-width:576px)  {
  .nav-text, .btn-1{
    display: none;
  }
  .gradient-btn{

  }
  .hamburger{
   display: inline;
 
  }
  .nav-main{
  display: grid;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 10px;
}
.socials{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
}
.image-circle{
height: 140px;
width: 140px;
left: 210px;
top: -170px;
}
.image-mic{
  height: 50px;
  width: 50px;
  left: 110px;
  top: -218px;
 
}
.badge{
  bottom: 760px;
  right: 208px;
  position: absolute;
  padding: 4px;
}
.bg-img{
  width: 100%;
  height: 100%;
}

.text-section{
  max-width: 576px;
  
 

}
.text-section-2{
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
.text-section-2 h2{
margin-top: 30px;


}
#border{
padding-top: 10px;
}
.text-section-3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.featured-episode{
  display: grid;
}
.host-section{
  flex-direction: column;
 text-align: center;
  width: 400px;
  height: 600px;
  
}
.main-host-section{
  padding-bottom: 120px;
  padding-left: 100px;
  padding-right: 100px;
}
.host-section-socials{
  justify-content: center;
}
.footer-section{
  max-width: 576px;
}
.footer-section-socials{

grid-template-columns: repeat(2, 1fr);
display: grid;
justify-content: center;
padding-left: 50px;
padding-right: 50px;

}
.grid{
  grid-template-columns: 1fr;
}
.hero-bg-texts {
  
 position:relative;
 z-index: 3;
 text-align: center;
 top: 350px;
 padding-bottom: 100px;
 
 


}
}

/*LARGE DEVICE*/
@media screen and (min-width:992px) and (max-width:1200px) {
 .nav-text, .btn-1{
    display: none;
  }
  .nav-main h1{
    padding-left: 50px;
  }
  .hamburger{
   display: inline;
  }
  .text-section-2 p{
  padding-left:100px ;
  padding-right: 100px;
}
.text-section{
  max-width: 992px;
}
#border{
  padding-top: 30px;
}
.text-section-3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 50px;
 
}
.featured-episode{
  display: grid;
  padding-left: 45px;
}
.main-host-section{
padding-left: 250px;
padding-right: 250px;
}
.host-section{
  display: grid;
text-align: center;
}
.host-section-socials{
justify-content: center;
}
.image-circle{
height: 230px;
width: 230px;
left: 380px;
top: -350px;
}
.image-mic{
  height: 100px;
  width: 100px;
  left: 210px;
  top: -420px;
 
}
.badge{
  bottom: 750px;
  right: 390px;
  position: absolute;
  padding: 4px;
}
.footer-section{
 max-width: 993px;
}
.footer-section-socials{
grid-template-columns: repeat(2, 1fr);
display: grid;
justify-content: center;
padding-left: 200px;
padding-right: 200px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
}
.hero-bg-texts{
  position:relative;
 z-index: 3;
 text-align: center;
 top: 170px;
 
}
.hero-btn-2{
  left: -60px;
}
.gradient-btn-2{
   left: -60px;
}
}