*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
/*NAVBAR STYLES*/

.nav-main{
  display: flex;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 15px;
 border-bottom: 2px solid rgba(65, 37, 103, 1);
}
.nav-text{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-main p{
font-size: 16px;
font-weight: 500;
color: white;
}
.hamburger{
  display: none;
}
  

.btn-1{
color: white;
font-size: 16px;
font-weight: 600;
justify-content: center;

}
.gradient-btn{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;

}
.gradient-text{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*AFTER HEADER STYLES*/
.hero-bg img{
  width: 100%;
  height: 569px;
}



/*TEXT-SECTION STYLES*/
.text-section{
  background-color: #1A0B2E;
  margin-top: -5px;
 text-align: center;

}
.text-section-2 h2{
font-size:48px ;
font-weight:bold ;
color: white;
padding-top: 120px;
padding-bottom: 20px;
}
.text-section-2{
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}
#border{
padding-top: 80px;

}
.text-section-2 h3{
  font-size: 48px;
  font-weight:bold ;
  color: #00FF88;
}
.text-section-3{
  display: flex;
 justify-content: center;
 gap: 80px;
 padding-top: 80px;
 padding-bottom: 120px;
}
.text-section-3 p{
  font-size: 16px;
  font-weight: 400;
  color: white;
 align-items: center;
}




/*FOOTER STYLES*/
.footer-section{
  background-image: url(/assets/footer-bg.png);
 text-align: center;
 padding-top: 120px;
 padding-bottom: 120px;
 width: 100%;
 height: 400px;
}

.footer-section h1{
  font-size:50px ;
  color: white;
  padding-bottom: 30px;
}
.gradient-text{
 background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socials{
  display: flex;
  justify-content: center;
  color: white;
  gap: 25px;
  font-size: 16px;
  font-weight:500 ;
  padding-bottom: 30px;
}


/*MEDIA STYLES*/
@media screen and (max-width:576px) {
  .nav-text, .btn-1{
    display: none;
  }
  .hamburger{
   display: inline;
  
  }
  .nav-main{
  display: grid;
 justify-content: space-around;
 background-color: #1A0B2E;
 padding: 10px;
}
.socials{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
}

}